<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>one.off</key>
	<string>w1tr1msr5cnj3lweonwzx8aq1azt</string>
	<key>baseline</key>
	<string>z.service.baseline</string>
	<key>baseline.advanced</key>
	<string>z.service.baseline.advanced</string>
</dict>
</plist>
