<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bronze Sub</key>
	<string>bro.sub</string>
	<key>Gold Sub</key>
	<string>gol.sub</string>
	<key>Advanced Subscription</key>
	<string>adv.sub</string>
	<key>Basic Subscription</key>
	<string>basic.sub</string>
</dict>
</plist>
